{extend name="public:base" /}

{block name="script"}
    <script>
        $(function(){
            $('form').submit(function(){
                var data = $(this).serialize();
                $.post(this.action,data,function(json){
                    if (json.code == 2) {
                        $('p.text-danger strong').html(json.msg);
                    } else {
                        location.href = '/admin/index/index';
                    }
                },'json');
                return false;
            });
        });
    </script>
{/block}

{block name="body"}
<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">H+</h1>

        </div>
        <h2>欢迎使用</h2>

        <form class="m-t" role="form" action="/admin/user/login" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="用户名" name="user_name" value="" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="密码" name="password" required="">
            </div>
            <input type="submit" class="btn btn-outline btn-primary block full-width m-b" value="登 录"/>

            <p class="text-center text-danger"><strong></strong></p>

        </form>
    </div>
</div>
</body>
{/block}